<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center d-flex">
            <a class="navbar-brand" href="#">
                <img src="../assets/subtract.png" width="200" height="70" class="p-3"
                    [style]="{'margin-right' : '290px'}" alt=>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home <i class="bi bi-house"> </i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/profile">Profile <i class="bi bi-person"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " routerLink="/writing">Write a Post <i class="bi bi-pencil"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="/">Log out <i class="bi bi-door-closed"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Comment section ------------>
    <section id="home">
        <div class="container my-1 py-5">
            <div class="row d-flex justify-content-center ml-8 mr-8">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-start align-items-center">
                                <img class="rounded-circle shadow-1-strong me-3" src="../assets/prfl.png" alt="avatar"
                                    width="60" height="60" />
                                <div>
                                    <h6 class="fw-bold text-primary mb-1">{{username}}</h6>
                                    <p class="text-muted small mb-0">
                                        Shared publicly - Jan 2024
                                    </p>
                                </div>
                            </div>
                            <div class="">
                                <p class="text-center fs-3 fw-light"> In this Article we will talk about: </p>
                                <p class="text-center fs-3 fw-bold uppercase"> {{title}} </p>
                            </div>
                            <div class="">
                                <div class="d-flex justify-content-center mt-3  p-4">
                                    <div [innerHTML]="body" class="fs-5 fw-light text-justify"></div>
                                </div>
                            </div>
                            <hr>
                            <div class="small d-flex justify-content-start ml-4">
                                <button class="mb-0 btn btn-outline-primary mr-2" (click)="addClaps()">
                                    <i class="fa-solid fa-hands-clapping me-2"></i> </button>
                                <a class="d-flex align-items-center me-3 text-decoration-none">
                                    <p class="mb-0 fs-5"><span>{{claps}}</span> Claps </p>
                                </a>
                                <a href="#!" class="d-flex align-items-center me-3 text-decoration-none">
                                    <p class="mb-0 fs-5"><span>{{comments.length}}</span> Comments </p>
                             
                                    <i class="bi bi-chat-dots me-2 ml-2"></i>
                                      </a>
                            </div>
                            <div class="container ">
                                <div class="row d-flex justify-content-center mt-3">
                                    <div class="col-md-12 col-lg-10">
                                        <div class="card text-dark">
                                            <div class="card-body p-4" *ngFor="let c of comments">

                                                <div class="d-flex flex-start">
                                                    <img class="rounded-circle shadow-1-strong me-3"
                                                    src="../assets/prfl.png"  alt="avatar" width="60" height="60" />
                                                    <div>
                                                        <h6 class="fw-bold mb-1">{{c.auteur.username}}</h6>
                                                    
                                                        <p class="mb-0">
                                                            {{c.contenu}}
                                                        </p>
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <button class="btn btn-outline-danger ml-2"  (click)="deleteComment(c.id)"><i class="bi bi-trash"></i></button>
                                                        <button class="btn btn-outline-info ml-2"  (click)="showDialog(c)" ><i class="bi bi-pen"></i></button>
                                                        <p-dialog header="Update Comment" [(visible)]="visible1" [style]="{width: '50vw'}">
                        
                                                            <form [formGroup]="updateCom" (ngSubmit)="updateComment(c)">
                                                                <div class="form-group">
                                                              <input type="text" [formControlName]="'com'" class="form-control" placeholder={{c.contenu}} >
                                                                </div>
                                                                <div class="form-group text-center">
                                                                    <button type="submit" class="btn btn-secondary m-3" >Update Comment</button>
                                                                </div>
                                                           </form>
                                                       </p-dialog>
                                                  </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer py-4 my-3 border-0" style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3" src="../assets/prfl.png" alt="avatar"
                                    width="40" height="40" />
                                <div class="form-outline w-100">
                                    <label class="form-label" for="textAreaExample">Post a Comment</label>
                                    <textarea class="form-control" id="textAreaExample" rows="2" [(ngModel)]="comment"
                                        style="background: #fff; resize : none;"></textarea>

                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onSubmit()">Post
                                    comment</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center bg-body-tertiary">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-facebook"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-twitter-x"></i></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-body m-1" href="#!" role="button"><i
                        class="bi bi-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024
            <a class="text-body" href="#">X-Large.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>